# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# External includes
include/

# Static and shared libraries
lib/

# Build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
build.ninja
.ninja_log

# Compilation output
build/
x86/
x64/
Debug/
Release/

# Visual Studio
.vs/
.vscode/
*.sln

# MSVC
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir/

# QtCreator
.cache/
.cmake/
.qtc/
.qtc_clangd/
CMakeCache.txt.prev
CMakeLists.txt.user
Testing/
qtcsettings.cmake

# Documentation
docs/
